In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
obesity_df = pd.read_csv('../cleaned_python_csv/obesity_overall.csv')
obesity_df.head()

,Unnamed: 0,Year,Locationabbr,Region,Class,Topic,Question,Response,Break_Out,Break_Out_Category,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,14,2019,AK,Alaska,Overweight and Obesity (BMI),BMI Categories,Weight classification by Body Mass Index (BMI)...,Overweight (BMI 25.0-29.9),Overall,Overall,...,NaN,BRFSS,CLASS14,TOPIC09,2,BO1,CAT1,_BMI5CAT,RESP040,"(64.84507995700051, -147.72205903599973)"
1,38,2019,AK,Alaska,Overweight and Obesity (BMI),BMI Categories,Weight classification by Body Mass Index (BMI)...,Normal Weight (BMI 18.5-24.9),Overall,Overall,...,NaN,BRFSS,CLASS14,TOPIC09,2,BO1,CAT1,_BMI5CAT,RESP041,"(64.84507995700051, -147.72205903599973)"
2,51,2019,AK,Alaska,Overweight and Obesity (BMI),BMI Categories,Weight classification by Body Mass Index (BMI)...,Obese (BMI 30.0 - 99.8),Overall,Overall,...,NaN,BRFSS,CLASS14,TOPIC09,2,BO1,CAT1,_BMI5CAT,RESP039,"(64.84507995700051, -147.72205903599973)"
3,74,2019,AK,Alaska,Overweight and Obesity (BMI),BMI Categories,Weight classification by Body Mass Index (BMI)...,Underweight (BMI 12.0-18.4),Overall,Overall,...,NaN,BRFSS,CLASS14,TOPIC09,2,BO1,CAT1,_BMI5CAT,RESP042,"(64.84507995700051, -147.72205903599973)"
4,108,2019,AL,Alabama,Overweight and Obesity (BMI),BMI Categories,Weight classification by Body Mass Index (BMI)...,Obese (BMI 30.0 - 99.8),Overall,Overall,...,NaN,BRFSS,CLASS14,TOPIC09,1,BO1,CAT1,_BMI5CAT,RESP039,"(32.84057112200048, -86.63186076199969)"

In [7]:
pr_df_13 = pd.read_csv('../cleaned_python_csv/clean_pr_13.csv')
pr_df_16 = pd.read_csv('../cleaned_python_csv/clean_pr_16.csv')
pr_df_19 = pd.read_csv('../cleaned_python_csv/clean_pr_19.csv')

In [8]:
pr_df_13.head()

,Unnamed: 0,Postal Code,Region,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,Year
0,0,US,United States,"48,810,868","48,554,692","49,067,044",15.8,15.7,15.9,"52,250","52,185","52,315",2013
1,1,AL,Alabama,"889,091","873,141","905,041",18.9,18.6,19.2,"42,882","42,260","43,504",2013
2,2,AK,Alaska,"72,643","69,056","76,230",10.1,9.6,10.6,"70,058","68,425","71,691",2013
3,3,AZ,Arizona,"1,206,948","1,184,107","1,229,789",18.6,18.2,19.0,"48,504","47,932","49,076",2013
4,4,AR,Arkansas,"557,399","545,273","569,525",19.4,19.0,19.8,"40,605","39,921","41,289",2013

In [19]:
pr_df_16

,Unnamed: 0,Postal Code,Region,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,Year
0,0,US,United States,"44,268,996","44,022,086","44,515,906",14.0,13.9,14.1,"57,617","57,502","57,732",2016
1,1,AL,Alabama,"814,197","796,927","831,467",17.2,16.8,17.6,"46,309","45,650","46,968",2016
2,2,AK,Alaska,"71,916","67,813","76,019",9.9,9.3,10.5,"76,144","74,375","77,913",2016
3,3,AZ,Arizona,"1,107,153","1,086,482","1,127,824",16.4,16.1,16.7,"53,481","52,863","54,099",2016
4,4,AR,Arkansas,"497,388","485,180","509,596",17.2,16.8,17.6,"44,406","43,530","45,282",2016
5,5,CA,California,"5,527,621","5,475,835","5,579,407",14.4,14.3,14.5,"67,715","67,361","68,069",2016
6,6,CO,Colorado,"598,378","585,017","611,739",11.0,10.8,11.2,"65,718","65,097","66,339",2016
7,7,CT,Connecticut,"342,171","330,966","353,376",9.9,9.6,10.2,"73,380","72,386","74,374",2016
8,8,DE,Delaware,"109,592","104,742","114,442",11.8,11.3,12.3,"62,112","60,792","63,432",2016
9,9,DC,District of Columbia,"119,778","113,591","125,965",18.5,17.5,19.5,"74,093","71,880","76,306",2016
10,10,FL,Florida,"2,986,237","2,947,397","3,025,077",14.8,14.6,15.0,"50,857","50,616","51,098",2016
11,11,GA,Georgia,"1,612,368","1,586,263","1,638,473",16.1,15.8,16.4,"53,468","52,778","54,158",2016
12,12,HI,Hawaii,"132,597","125,573","139,621",9.5,9.0,10.0,"74,659","73,083","76,235",2016
13,13,ID,Idaho,"228,037","218,768","237,306",13.8,13.2,14.4,"51,647","50,736","52,558",2016
14,14,IL,Illinois,"1,620,974","1,595,624","1,646,324",13.0,12.8,13.2,"60,977","60,591","61,363",2016
15,15,IN,Indiana,"899,168","881,690","916,646",14.0,13.7,14.3,"52,289","51,922","52,656",2016
16,16,IA,Iowa,"354,429","345,224","363,634",11.7,11.4,12.0,"56,354","55,677","57,031",2016
17,17,KS,Kansas,"343,773","333,475","354,071",12.2,11.8,12.6,"54,828","53,976","55,680",2016
18,18,KY,Kentucky,"782,779","766,290","799,268",18.2,17.8,18.6,"46,610","46,022","47,198",2016
19,19,LA,Louisiana,"911,970","893,612","930,328",20.1,19.7,20.5,"45,374","44,621","46,127",2016
20,20,ME,Maine,"159,523","153,218","165,828",12.3,11.8,12.8,"52,926","51,690","54,162",2016
21,21,MD,Maryland,"572,786","559,536","586,036",9.7,9.5,9.9,"78,787","78,070","79,504",2016
22,22,MA,Massachusetts,"688,366","672,883","703,849",10.5,10.3,10.7,"75,207","74,461","75,953",2016
23,23,MI,Michigan,"1,449,683","1,430,043","1,469,323",14.9,14.7,15.1,"52,436","52,038","52,834",2016
24,24,MN,Minnesota,"531,789","519,414","544,164",9.9,9.7,10.1,"65,583","64,989","66,177",2016
25,25,MS,Mississippi,"606,873","592,527","621,219",21.0,20.5,21.5,"41,793","41,247","42,339",2016
26,26,MO,Missouri,"826,358","809,923","842,793",14.0,13.7,14.3,"51,713","51,343","52,083",2016
27,27,MT,Montana,"136,439","130,979","141,899",13.4,12.9,13.9,"50,265","49,243","51,287",2016
28,28,NE,Nebraska,"208,864","201,705","216,023",11.3,10.9,11.7,"56,979","56,240","57,718",2016
29,29,NV,Nevada,"407,308","394,452","420,164",14.1,13.7,14.5,"55,201","54,342","56,060",2016
30,30,NH,New Hampshire,"97,753","92,007","103,499",7.6,7.2,8.0,"70,986","69,715","72,257",2016
31,31,NJ,New Jersey,"915,390","895,106","935,674",10.4,10.2,10.6,"76,212","75,530","76,894",2016
32,32,NM,New Mexico,"390,461","380,077","400,845",19.1,18.6,19.6,"46,844","46,050","47,638",2016
33,33,NY,New York,"2,843,954","2,812,221","2,875,687",14.8,14.6,15.0,"62,700","62,081","63,319",2016
34,34,NC,North Carolina,"1,523,034","1,498,821","1,547,247",15.4,15.2,15.6,"50,595","50,305","50,885",2016
35,35,ND,North Dakota,"76,951","72,578","81,324",10.5,9.9,11.1,"61,898","60,498","63,298",2016
36,36,OH,Ohio,"1,639,636","1,614,177","1,665,095",14.5,14.3,14.7,"52,357","52,083","52,631",2016
37,37,OK,Oklahoma,"615,050","603,867","626,233",16.1,15.8,16.4,"49,204","48,594","49,814",2016
38,38,OR,Oregon,"538,169","524,488","551,850",13.4,13.1,13.7,"57,379","56,560","58,198",2016
39,39,PA,Pennsylvania,"1,589,584","1,565,866","1,613,302",12.9,12.7,13.1,"56,897","56,540","57,254",2016
40,40,RI,Rhode Island,"134,683","128,893","140,473",13.3,12.7,13.9,"60,046","58,657","61,435",2016
41,41,SC,South Carolina,"739,574","723,077","756,071",15.3,15.0,15.6,"49,587","48,997","50,177",2016
42,42,SD,South Dakota,"107,953","103,265","112,641",12.9,12.3,13.5,"54,926","53,748","56,104",2016
43,43,TN,Tennessee,"1,023,825","1,005,630","1,042,020",15.8,15.5,16.1,"48,506","47,850","49,162",2016
44,44,TX,Texas,"4,261,291","4,214,422","4,308,160",15.6,15.4,15.8,"56,583","56,285","56,881",2016
45,45,UT,Utah,"307,270","295,740","318,800",10.2,9.8,10.6,"65,931","65,028","66,834",2016
46,46,VT,Vermont,"67,825","64,114","71,536",11.3,10.7,11.9,"57,661","56,228","59,094",2016
47,47,VA,Virginia,"897,244","877,329","917,159",11.0,10.8,11.2,"68,127","67,404","68,850",2016
48,48,WA,Washington,"808,582","791,428","825,736",11.3,11.1,11.5,"67,064","66,481","67,647",2016
49,49,WV,West Virginia,"318,368","309,231","327,505",17.9,17.4,18.4,"43,175","42,135","44,215",2016
50,50,WI,Wisconsin,"661,465","647,308","675,622",11.8,11.5,12.1,"56,808","56,269","57,347",2016
51,51,WY,Wyoming,"62,416","58,628","66,204",10.9,10.2,11.6,"61,686","59,882","63,490",2016

In [21]:
income_df_13_below = pr_df_13[pr_df_13['Median Household Income']<= '53,250']
income_df_13_below.shape
pr_df_13_below = pr_df_13[pr_df_13['Poverty Percent, All Ages']>= 14.0]
pr_df_13_below

,Unnamed: 0,Postal Code,Region,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,Year
0,0,US,United States,"48,810,868","48,554,692","49,067,044",15.8,15.7,15.9,"52,250","52,185","52,315",2013
1,1,AL,Alabama,"889,091","873,141","905,041",18.9,18.6,19.2,"42,882","42,260","43,504",2013
3,3,AZ,Arizona,"1,206,948","1,184,107","1,229,789",18.6,18.2,19.0,"48,504","47,932","49,076",2013
4,4,AR,Arkansas,"557,399","545,273","569,525",19.4,19.0,19.8,"40,605","39,921","41,289",2013
5,5,CA,California,"6,328,064","6,276,939","6,379,189",16.8,16.7,16.9,"60,185","59,931","60,439",2013
9,9,DC,District of Columbia,"115,096","109,640","120,552",18.8,17.9,19.7,"66,326","64,245","68,407",2013
10,10,FL,Florida,"3,268,130","3,223,891","3,312,369",17.1,16.9,17.3,"46,021","45,714","46,328",2013
11,11,GA,Georgia,"1,849,944","1,823,426","1,876,462",19.0,18.7,19.3,"47,765","47,154","48,376",2013
13,13,ID,Idaho,"246,708","237,342","256,074",15.6,15.0,16.2,"46,621","45,745","47,497",2013
14,14,IL,Illinois,"1,841,996","1,815,888","1,868,104",14.6,14.4,14.8,"56,212","55,814","56,610",2013
15,15,IN,Indiana,"1,008,411","990,634","1,026,188",15.8,15.5,16.1,"47,508","47,002","48,014",2013
18,18,KY,Kentucky,"803,044","788,501","817,587",18.8,18.5,19.1,"43,307","42,676","43,938",2013
19,19,LA,Louisiana,"897,284","879,370","915,198",20.0,19.6,20.4,"44,234","43,412","45,056",2013
20,20,ME,Maine,"181,386","175,125","187,647",14.0,13.5,14.5,"47,095","46,334","47,856",2013
23,23,MI,Michigan,"1,646,038","1,625,685","1,666,391",17.0,16.8,17.2,"48,200","47,825","48,575",2013
25,25,MS,Mississippi,"692,058","677,339","706,777",23.9,23.4,24.4,"38,191","37,229","39,153",2013
26,26,MO,Missouri,"928,778","910,924","946,632",15.8,15.5,16.1,"46,905","46,483","47,327",2013
27,27,MT,Montana,"159,248","153,605","164,891",16.1,15.5,16.7,"46,893","45,853","47,933",2013
29,29,NV,Nevada,"433,267","421,242","445,292",15.8,15.4,16.2,"51,250","50,676","51,824",2013
32,32,NM,New Mexico,"437,923","427,727","448,119",21.4,20.9,21.9,"44,026","43,134","44,918",2013
33,33,NY,New York,"3,068,230","3,034,387","3,102,073",16.0,15.8,16.2,"57,255","56,828","57,682",2013
34,34,NC,North Carolina,"1,711,331","1,687,683","1,734,979",17.8,17.6,18.0,"45,946","45,527","46,365",2013
36,36,OH,Ohio,"1,793,523","1,767,288","1,819,758",15.9,15.7,16.1,"48,138","47,736","48,540",2013
37,37,OK,Oklahoma,"624,209","613,045","635,373",16.7,16.4,17.0,"45,724","45,201","46,247",2013
38,38,OR,Oregon,"637,505","622,246","652,764",16.5,16.1,16.9,"50,228","49,708","50,748",2013
40,40,RI,Rhode Island,"148,275","142,320","154,230",14.7,14.1,15.3,"55,015","53,478","56,552",2013
41,41,SC,South Carolina,"858,553","842,448","874,658",18.5,18.2,18.8,"44,310","43,669","44,951",2013
42,42,SD,South Dakota,"114,291","109,648","118,934",14.0,13.4,14.6,"49,200","48,195","50,205",2013
43,43,TN,Tennessee,"1,128,618","1,109,156","1,148,080",17.8,17.5,18.1,"44,268","43,776","44,760",2013
44,44,TX,Texas,"4,531,427","4,484,570","4,578,284",17.5,17.3,17.7,"51,714","51,476","51,952",2013
48,48,WA,Washington,"963,088","943,843","982,333",14.1,13.8,14.4,"58,431","57,782","59,080",2013
49,49,WV,West Virginia,"331,674","322,877","340,471",18.4,17.9,18.9,"41,195","40,477","41,913",2013