In [160]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [161]:
poverty_df = pd.read_csv('../data/Census_poverty_data_2019.csv')

In [162]:
testing = poverty_df.T.reset_index()

In [163]:
testing.head()

,index,0,1,2,3,4,5,6,7,8,...,58,59,60,61,62,63,64,65,66,67
0,Label,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder un...,18 to 64 years,18 to 34 years,35 to 64 years,...,25 to 34 years,35 to 44 years,45 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individu...,"Worked full-time, year-round in the past 1...","Worked less than full-time, year-round in ...",Did not work
1,Alabama!!Total!!Estimate,"4,781,688",NaN,"1,068,804","281,201","787,603","1,064,947","2,878,045","1,036,651","1,841,394",...,"156,328","95,438","121,299","156,241","129,121","123,166","7,115","356,830","148,246","372,164"
2,Alabama!!Total!!Margin of Error,"±3,063",NaN,"±4,435","±4,432","±5,534","±4,369","±4,711","±6,288","±6,396",...,"±8,183","±6,262","±5,759","±6,410","±5,094","±4,920",±165,"±12,708","±7,268","±9,605"
3,Alabama!!Below poverty level!!Estimate,"739,108",NaN,"228,412","67,723","160,689","224,890","422,875","188,565","234,310",...,"33,795","24,830","38,732","48,386","30,211","25,745",(X),"16,318","64,156","176,921"
4,Alabama!!Below poverty level!!Margin of Error,"±24,870",NaN,"±11,511","±5,010","±8,920","±11,443","±14,775","±9,417","±9,714",...,"±3,401","±3,017","±3,175","±4,037","±2,884","±2,567",(X),"±2,904","±5,213","±7,894"

In [164]:
testing.columns = testing.loc[0]

In [165]:
testing.head()

,Label,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,35 to 64 years,...,25 to 34 years,35 to 44 years,45 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work
0,Label,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder un...,18 to 64 years,18 to 34 years,35 to 64 years,...,25 to 34 years,35 to 44 years,45 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individu...,"Worked full-time, year-round in the past 1...","Worked less than full-time, year-round in ...",Did not work
1,Alabama!!Total!!Estimate,"4,781,688",NaN,"1,068,804","281,201","787,603","1,064,947","2,878,045","1,036,651","1,841,394",...,"156,328","95,438","121,299","156,241","129,121","123,166","7,115","356,830","148,246","372,164"
2,Alabama!!Total!!Margin of Error,"±3,063",NaN,"±4,435","±4,432","±5,534","±4,369","±4,711","±6,288","±6,396",...,"±8,183","±6,262","±5,759","±6,410","±5,094","±4,920",±165,"±12,708","±7,268","±9,605"
3,Alabama!!Below poverty level!!Estimate,"739,108",NaN,"228,412","67,723","160,689","224,890","422,875","188,565","234,310",...,"33,795","24,830","38,732","48,386","30,211","25,745",(X),"16,318","64,156","176,921"
4,Alabama!!Below poverty level!!Margin of Error,"±24,870",NaN,"±11,511","±5,010","±8,920","±11,443","±14,775","±9,417","±9,714",...,"±3,401","±3,017","±3,175","±4,037","±2,884","±2,567",(X),"±2,904","±5,213","±7,894"

In [186]:
testing.shape

(312, 71)

In [166]:
testing = testing.drop(0)

In [167]:
testing.head()

,Label,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,35 to 64 years,...,25 to 34 years,35 to 44 years,45 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work
1,Alabama!!Total!!Estimate,"4,781,688",NaN,"1,068,804","281,201","787,603","1,064,947","2,878,045","1,036,651","1,841,394",...,"156,328","95,438","121,299","156,241","129,121","123,166","7,115","356,830","148,246","372,164"
2,Alabama!!Total!!Margin of Error,"±3,063",NaN,"±4,435","±4,432","±5,534","±4,369","±4,711","±6,288","±6,396",...,"±8,183","±6,262","±5,759","±6,410","±5,094","±4,920",±165,"±12,708","±7,268","±9,605"
3,Alabama!!Below poverty level!!Estimate,"739,108",NaN,"228,412","67,723","160,689","224,890","422,875","188,565","234,310",...,"33,795","24,830","38,732","48,386","30,211","25,745",(X),"16,318","64,156","176,921"
4,Alabama!!Below poverty level!!Margin of Error,"±24,870",NaN,"±11,511","±5,010","±8,920","±11,443","±14,775","±9,417","±9,714",...,"±3,401","±3,017","±3,175","±4,037","±2,884","±2,567",(X),"±2,904","±5,213","±7,894"
5,Alabama!!Percent below poverty level!!Estimate,15.50%,NaN,21.40%,24.10%,20.40%,21.10%,14.70%,18.20%,12.70%,...,21.60%,26.00%,31.90%,31.00%,23.40%,20.90%,(X),4.60%,43.30%,47.50%

In [188]:
for c in testing.columns:
    print(c)

Population for whom poverty status is determined
    AGE
        Under 18 years
            Under 5 years
            5 to 17 years
            Related children of householder under 18 years
        18 to 64 years
            18 to 34 years
            35 to 64 years
        60 years and over
        65 years and over
    SEX
        Male
        Female
    RACE AND HISPANIC OR LATINO ORIGIN
        White alone
        Black or African American alone
        American Indian and Alaska Native alone
        Asian alone
        Native Hawaiian and Other Pacific Islander alone
        Some other race alone
        Two or more races
        Hispanic or Latino origin (of any race)
        White alone, not Hispanic or Latino
    EDUCATIONAL ATTAINMENT
        Population 25 years and over
            Less than high school graduate
            High school graduate (includes equivalency)
            Some college, associate's degree
            Bachelor's degree or higher
    EMPLOYMENT STATUS
        Civilian labor force 16 years and over
            Employed
                Male
                Female
            Unemployed
                Male
                Female
    WORK EXPERIENCE
        Population 16 years and over
            Worked full-time, year-round in the past 12 months
            Worked part-time or part-year in the past 12 months
            Did not work
    ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS
        50 percent of poverty level
        125 percent of poverty level
        150 percent of poverty level
        185 percent of poverty level
        200 percent of poverty level
        300 percent of poverty level
        400 percent of poverty level
        500 percent of poverty level
UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED
    Male
    Female
    15 years
    16 to 17 years
    18 to 24 years
    25 to 34 years
    35 to 44 years
    45 to 54 years
    55 to 64 years
    65 to 74 years
    75 years and over
    Mean income deficit for unrelated individuals (dollars)
    Worked full-time, year-round in the past 12 months
    Worked less than full-time, year-round in the past 12 months
    Did not work
Region
Value
Notation

In [168]:
testing[['Region', 'Value', 'Notation']] = testing['Label'].str.split('!!', expand = True)

In [169]:
testing.head()

,Label,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,35 to 64 years,...,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work,Region,Value,Notation
1,Alabama!!Total!!Estimate,"4,781,688",NaN,"1,068,804","281,201","787,603","1,064,947","2,878,045","1,036,651","1,841,394",...,"156,241","129,121","123,166","7,115","356,830","148,246","372,164",Alabama,Total,Estimate
2,Alabama!!Total!!Margin of Error,"±3,063",NaN,"±4,435","±4,432","±5,534","±4,369","±4,711","±6,288","±6,396",...,"±6,410","±5,094","±4,920",±165,"±12,708","±7,268","±9,605",Alabama,Total,Margin of Error
3,Alabama!!Below poverty level!!Estimate,"739,108",NaN,"228,412","67,723","160,689","224,890","422,875","188,565","234,310",...,"48,386","30,211","25,745",(X),"16,318","64,156","176,921",Alabama,Below poverty level,Estimate
4,Alabama!!Below poverty level!!Margin of Error,"±24,870",NaN,"±11,511","±5,010","±8,920","±11,443","±14,775","±9,417","±9,714",...,"±4,037","±2,884","±2,567",(X),"±2,904","±5,213","±7,894",Alabama,Below poverty level,Margin of Error
5,Alabama!!Percent below poverty level!!Estimate,15.50%,NaN,21.40%,24.10%,20.40%,21.10%,14.70%,18.20%,12.70%,...,31.00%,23.40%,20.90%,(X),4.60%,43.30%,47.50%,Alabama,Percent below poverty level,Estimate

In [170]:
testing = testing.drop('Label', axis = 1)
testing.head()

,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,35 to 64 years,60 years and over,...,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work,Region,Value,Notation
1,"4,781,688",NaN,"1,068,804","281,201","787,603","1,064,947","2,878,045","1,036,651","1,841,394","1,162,762",...,"156,241","129,121","123,166","7,115","356,830","148,246","372,164",Alabama,Total,Estimate
2,"±3,063",NaN,"±4,435","±4,432","±5,534","±4,369","±4,711","±6,288","±6,396","±7,141",...,"±6,410","±5,094","±4,920",±165,"±12,708","±7,268","±9,605",Alabama,Total,Margin of Error
3,"739,108",NaN,"228,412","67,723","160,689","224,890","422,875","188,565","234,310","130,738",...,"48,386","30,211","25,745",(X),"16,318","64,156","176,921",Alabama,Below poverty level,Estimate
4,"±24,870",NaN,"±11,511","±5,010","±8,920","±11,443","±14,775","±9,417","±9,714","±6,457",...,"±4,037","±2,884","±2,567",(X),"±2,904","±5,213","±7,894",Alabama,Below poverty level,Margin of Error
5,15.50%,NaN,21.40%,24.10%,20.40%,21.10%,14.70%,18.20%,12.70%,11.20%,...,31.00%,23.40%,20.90%,(X),4.60%,43.30%,47.50%,Alabama,Percent below poverty level,Estimate

In [171]:
testing.shape

(312, 71)

In [172]:
testing.Value.value_counts()

Below poverty level            104
Percent below poverty level    104
Total                          104
Name: Value, dtype: int64

In [173]:
testing.columns

Index(['Population for whom poverty status is determined', '    AGE',
       '        Under 18 years', '            Under 5 years',
       '            5 to 17 years',
       '            Related children of householder under 18 years',
       '        18 to 64 years', '            18 to 34 years',
       '            35 to 64 years', '        60 years and over',
       '        65 years and over', '    SEX', '        Male',
       '        Female', '    RACE AND HISPANIC OR LATINO ORIGIN',
       '        White alone', '        Black or African American alone',
       '        American Indian and Alaska Native alone',
       '        Asian alone',
       '        Native Hawaiian and Other Pacific Islander alone',
       '        Some other race alone', '        Two or more races',
       '        Hispanic or Latino origin (of any race)',
       '        White alone, not Hispanic or Latino',
       '    EDUCATIONAL ATTAINMENT', '        Population 25 years and over',
       '            Less than high school graduate',
       '            High school graduate (includes equivalency)',
       '            Some college, associate's degree',
       '            Bachelor's degree or higher', '    EMPLOYMENT STATUS',
       '        Civilian labor force 16 years and over',
       '            Employed', '                Male',
       '                Female', '            Unemployed',
       '                Male', '                Female', '    WORK EXPERIENCE',
       '        Population 16 years and over',
       '            Worked full-time, year-round in the past 12 months',
       '            Worked part-time or part-year in the past 12 months',
       '            Did not work',
       '    ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS',
       '        50 percent of poverty level',
       '        125 percent of poverty level',
       '        150 percent of poverty level',
       '        185 percent of poverty level',
       '        200 percent of poverty level',
       '        300 percent of poverty level',
       '        400 percent of poverty level',
       '        500 percent of poverty level',
       'UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED',
       '    Male', '    Female', '    15 years', '    16 to 17 years',
       '    18 to 24 years', '    25 to 34 years', '    35 to 44 years',
       '    45 to 54 years', '    55 to 64 years', '    65 to 74 years',
       '    75 years and over',
       '    Mean income deficit for unrelated individuals (dollars)',
       '    Worked full-time, year-round in the past 12 months',
       '    Worked less than full-time, year-round in the past 12 months',
       '    Did not work', 'Region', 'Value', 'Notation'],
      dtype='object', name=0)

In [174]:
for c in testing.columns: 
    print(c)

Population for whom poverty status is determined
    AGE
        Under 18 years
            Under 5 years
            5 to 17 years
            Related children of householder under 18 years
        18 to 64 years
            18 to 34 years
            35 to 64 years
        60 years and over
        65 years and over
    SEX
        Male
        Female
    RACE AND HISPANIC OR LATINO ORIGIN
        White alone
        Black or African American alone
        American Indian and Alaska Native alone
        Asian alone
        Native Hawaiian and Other Pacific Islander alone
        Some other race alone
        Two or more races
        Hispanic or Latino origin (of any race)
        White alone, not Hispanic or Latino
    EDUCATIONAL ATTAINMENT
        Population 25 years and over
            Less than high school graduate
            High school graduate (includes equivalency)
            Some college, associate's degree
            Bachelor's degree or higher
    EMPLOYMENT STATUS
        Civilian labor force 16 years and over
            Employed
                Male
                Female
            Unemployed
                Male
                Female
    WORK EXPERIENCE
        Population 16 years and over
            Worked full-time, year-round in the past 12 months
            Worked part-time or part-year in the past 12 months
            Did not work
    ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS
        50 percent of poverty level
        125 percent of poverty level
        150 percent of poverty level
        185 percent of poverty level
        200 percent of poverty level
        300 percent of poverty level
        400 percent of poverty level
        500 percent of poverty level
UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED
    Male
    Female
    15 years
    16 to 17 years
    18 to 24 years
    25 to 34 years
    35 to 44 years
    45 to 54 years
    55 to 64 years
    65 to 74 years
    75 years and over
    Mean income deficit for unrelated individuals (dollars)
    Worked full-time, year-round in the past 12 months
    Worked less than full-time, year-round in the past 12 months
    Did not work
Region
Value
Notation

In [175]:
columns_list = testing.columns

In [176]:
total = []
below_poverty_level = []
percent_below_poverty_level = []

for ind, row in testing.iterrows(): 
    if row ['Value'] == 'Percent below poverty level':
        percent_below_poverty_level.append(row)
    elif row ['Value'] == 'Below poverty level':
        below_poverty_level.append(row)
    else: total.append(row.to_frame())

In [177]:
testing.head()

,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,35 to 64 years,60 years and over,...,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work,Region,Value,Notation
1,"4,781,688",NaN,"1,068,804","281,201","787,603","1,064,947","2,878,045","1,036,651","1,841,394","1,162,762",...,"156,241","129,121","123,166","7,115","356,830","148,246","372,164",Alabama,Total,Estimate
2,"±3,063",NaN,"±4,435","±4,432","±5,534","±4,369","±4,711","±6,288","±6,396","±7,141",...,"±6,410","±5,094","±4,920",±165,"±12,708","±7,268","±9,605",Alabama,Total,Margin of Error
3,"739,108",NaN,"228,412","67,723","160,689","224,890","422,875","188,565","234,310","130,738",...,"48,386","30,211","25,745",(X),"16,318","64,156","176,921",Alabama,Below poverty level,Estimate
4,"±24,870",NaN,"±11,511","±5,010","±8,920","±11,443","±14,775","±9,417","±9,714","±6,457",...,"±4,037","±2,884","±2,567",(X),"±2,904","±5,213","±7,894",Alabama,Below poverty level,Margin of Error
5,15.50%,NaN,21.40%,24.10%,20.40%,21.10%,14.70%,18.20%,12.70%,11.20%,...,31.00%,23.40%,20.90%,(X),4.60%,43.30%,47.50%,Alabama,Percent below poverty level,Estimate

In [178]:
pd.concat(total, axis = 1).T

,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,35 to 64 years,60 years and over,...,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work,Region,Value,Notation
1,"4,781,688",NaN,"1,068,804","281,201","787,603","1,064,947","2,878,045","1,036,651","1,841,394","1,162,762",...,"156,241","129,121","123,166","7,115","356,830","148,246","372,164",Alabama,Total,Estimate
2,"±3,063",NaN,"±4,435","±4,432","±5,534","±4,369","±4,711","±6,288","±6,396","±7,141",...,"±6,410","±5,094","±4,920",±165,"±12,708","±7,268","±9,605",Alabama,Total,Margin of Error
7,"713,725",NaN,"175,678","49,694","125,984","174,865","449,112","176,154","272,958","134,620",...,"28,294","19,194","9,661","8,112","73,089","38,382","42,828",Alaska,Total,Estimate
8,"±1,271",NaN,"±1,301","±1,284","±1,420","±1,524","±1,949","±2,501","±3,084","±3,137",...,"±2,573","±2,112","±1,309",±651,"±3,981","±3,043","±3,862",Alaska,Total,Margin of Error
13,"7,116,266",NaN,"1,612,619","420,121","1,192,498","1,605,149","4,208,713","1,615,034","2,593,679","1,730,479",...,"221,764","204,929","178,375","7,725","629,271","302,219","492,053",Arizona,Total,Estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,"±3,164",NaN,"±4,125","±2,664","±3,938","±4,187","±3,049","±4,058","±4,494","±6,814",...,"±5,732","±5,161","±4,954",±167,"±11,599","±8,431","±10,329",Wisconsin,Total,Margin of Error
301,"563,528",NaN,"130,431","32,265","98,166","129,628","336,915","124,792","212,123","135,375",...,"18,083","16,239","12,416","7,106","49,188","28,509","35,408",Wyoming,Total,Estimate
302,"±1,747",NaN,"±2,482","±1,445","±2,599","±2,498","±2,004","±2,318","±2,621","±2,791",...,"±1,831","±1,655","±1,610",±514,"±3,661","±3,323","±2,821",Wyoming,Total,Margin of Error
307,"3,167,190",NaN,"569,767","114,745","455,022","568,109","1,923,126","694,720","1,228,406","886,559",...,"108,002","109,762","101,802","7,848","142,214","75,425","336,454",Puerto Rico,Total,Estimate
308,±936,NaN,±954,"±1,476","±1,623","±1,214",±596,"±3,493","±3,482","±5,765",...,"±5,494","±4,612","±4,369",±134,"±7,053","±5,146","±9,058",Puerto Rico,Total,Margin of Error

In [179]:
total_df = testing[testing['Value'].isin(['Total'])]
total_df

,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,35 to 64 years,60 years and over,...,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work,Region,Value,Notation
1,"4,781,688",NaN,"1,068,804","281,201","787,603","1,064,947","2,878,045","1,036,651","1,841,394","1,162,762",...,"156,241","129,121","123,166","7,115","356,830","148,246","372,164",Alabama,Total,Estimate
2,"±3,063",NaN,"±4,435","±4,432","±5,534","±4,369","±4,711","±6,288","±6,396","±7,141",...,"±6,410","±5,094","±4,920",±165,"±12,708","±7,268","±9,605",Alabama,Total,Margin of Error
7,"713,725",NaN,"175,678","49,694","125,984","174,865","449,112","176,154","272,958","134,620",...,"28,294","19,194","9,661","8,112","73,089","38,382","42,828",Alaska,Total,Estimate
8,"±1,271",NaN,"±1,301","±1,284","±1,420","±1,524","±1,949","±2,501","±3,084","±3,137",...,"±2,573","±2,112","±1,309",±651,"±3,981","±3,043","±3,862",Alaska,Total,Margin of Error
13,"7,116,266",NaN,"1,612,619","420,121","1,192,498","1,605,149","4,208,713","1,615,034","2,593,679","1,730,479",...,"221,764","204,929","178,375","7,725","629,271","302,219","492,053",Arizona,Total,Estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,"±3,164",NaN,"±4,125","±2,664","±3,938","±4,187","±3,049","±4,058","±4,494","±6,814",...,"±5,732","±5,161","±4,954",±167,"±11,599","±8,431","±10,329",Wisconsin,Total,Margin of Error
301,"563,528",NaN,"130,431","32,265","98,166","129,628","336,915","124,792","212,123","135,375",...,"18,083","16,239","12,416","7,106","49,188","28,509","35,408",Wyoming,Total,Estimate
302,"±1,747",NaN,"±2,482","±1,445","±2,599","±2,498","±2,004","±2,318","±2,621","±2,791",...,"±1,831","±1,655","±1,610",±514,"±3,661","±3,323","±2,821",Wyoming,Total,Margin of Error
307,"3,167,190",NaN,"569,767","114,745","455,022","568,109","1,923,126","694,720","1,228,406","886,559",...,"108,002","109,762","101,802","7,848","142,214","75,425","336,454",Puerto Rico,Total,Estimate
308,±936,NaN,±954,"±1,476","±1,623","±1,214",±596,"±3,493","±3,482","±5,765",...,"±5,494","±4,612","±4,369",±134,"±7,053","±5,146","±9,058",Puerto Rico,Total,Margin of Error

In [180]:
percent_below_poverty_level_df = testing[testing['Value'].isin(['Percent below poverty level'])]
percent_below_poverty_level_df

,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,35 to 64 years,60 years and over,...,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work,Region,Value,Notation
5,15.50%,NaN,21.40%,24.10%,20.40%,21.10%,14.70%,18.20%,12.70%,11.20%,...,31.00%,23.40%,20.90%,(X),4.60%,43.30%,47.50%,Alabama,Percent below poverty level,Estimate
6,±0.5,NaN,±1.1,±1.8,±1.1,±1.1,±0.5,±0.9,±0.5,±0.6,...,±2.3,±1.9,±1.8,(X),±0.8,±2.4,±1.5,Alabama,Percent below poverty level,Margin of Error
11,10.10%,NaN,13.00%,17.20%,11.40%,12.60%,9.50%,11.70%,8.10%,7.60%,...,20.90%,10.80%,13.80%,(X),1.70%,28.70%,40.10%,Alaska,Percent below poverty level,Estimate
12,±1.1,NaN,±2.2,±3.4,±2.1,±2.2,±1.0,±1.9,±0.9,±1.5,...,±3.7,±3.1,±6.4,(X),±0.7,±4.8,±4.7,Alaska,Percent below poverty level,Margin of Error
17,13.50%,NaN,19.10%,21.10%,18.40%,18.80%,12.70%,15.50%,10.90%,9.70%,...,26.10%,16.70%,20.30%,(X),3.60%,34.80%,41.60%,Arizona,Percent below poverty level,Estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,±0.3,NaN,±0.8,±1.2,±0.8,±0.8,±0.3,±0.7,±0.3,±0.4,...,±1.3,±1.3,±1.1,(X),±0.4,±1.5,±1.1,Wisconsin,Percent below poverty level,Margin of Error
305,10.10%,NaN,11.60%,14.50%,10.60%,11.00%,10.30%,15.60%,7.20%,8.30%,...,25.00%,16.60%,15.00%,(X),5.00%,35.70%,36.50%,Wyoming,Percent below poverty level,Estimate
306,±1.0,NaN,±2.1,±4.1,±2.2,±2.0,±1.2,±2.2,±1.3,±1.4,...,±5.8,±4.6,±5.0,(X),±1.7,±5.4,±5.0,Wyoming,Percent below poverty level,Margin of Error
311,43.50%,NaN,56.80%,63.80%,55.00%,56.60%,40.80%,45.60%,38.00%,39.90%,...,56.00%,57.10%,63.40%,(X),10.60%,66.30%,73.00%,Puerto Rico,Percent below poverty level,Estimate
312,±0.8,NaN,±1.7,±3.4,±1.7,±1.7,±0.8,±1.4,±0.9,±1.0,...,±2.3,±2.5,±2.3,(X),±1.5,±2.4,±1.3,Puerto Rico,Percent below poverty level,Margin of Error

In [181]:
below_poverty_level_df  = testing[testing['Value'].isin(['Below poverty level'])]
below_poverty_level_df

,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,35 to 64 years,60 years and over,...,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work,Region,Value,Notation
3,"739,108",NaN,"228,412","67,723","160,689","224,890","422,875","188,565","234,310","130,738",...,"48,386","30,211","25,745",(X),"16,318","64,156","176,921",Alabama,Below poverty level,Estimate
4,"±24,870",NaN,"±11,511","±5,010","±8,920","±11,443","±14,775","±9,417","±9,714","±6,457",...,"±4,037","±2,884","±2,567",(X),"±2,904","±5,213","±7,894",Alabama,Below poverty level,Margin of Error
9,"71,938",NaN,"22,921","8,547","14,374","22,108","42,857","20,692","22,165","10,207",...,"5,900","2,080","1,335",(X),"1,275","11,009","17,181",Alaska,Below poverty level,Estimate
10,"±7,880",NaN,"±3,893","±1,695","±2,678","±3,795","±4,526","±3,370","±2,312","±2,064",...,"±1,103",±641,±660,(X),±523,"±2,053","±2,964",Alaska,Below poverty level,Margin of Error
15,"958,442",NaN,"308,459","88,674","219,785","301,568","533,294","250,959","282,335","168,004",...,"57,790","34,131","36,206",(X),"22,831","105,113","204,539",Arizona,Below poverty level,Estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,"±18,294",NaN,"±9,853","±4,022","±7,642","±9,880","±10,662","±8,153","±6,801","±5,221",...,"±2,945","±2,455","±1,759",(X),"±2,518","±5,361","±6,093",Wisconsin,Below poverty level,Margin of Error
303,"56,945",NaN,"15,088","4,670","10,418","14,285","34,766","19,422","15,344","11,286",...,"4,516","2,699","1,866",(X),"2,474","10,170","12,937",Wyoming,Below poverty level,Estimate
304,"±5,626",NaN,"±2,734","±1,381","±2,231","±2,668","±4,111","±2,769","±2,788","±1,983",...,"±1,140",±790,±654,(X),±817,"±1,925","±2,275",Wyoming,Below poverty level,Margin of Error
309,"1,376,809",NaN,"323,371","73,159","250,212","321,767","784,074","316,680","467,394","353,762",...,"60,488","62,672","64,588",(X),"15,073","50,027","245,612",Puerto Rico,Below poverty level,Estimate
310,"±24,017",NaN,"±9,736","±3,902","±7,627","±9,738","±16,171","±9,416","±10,574","±8,744",...,"±3,919","±3,377","±3,902",(X),"±2,582","±3,682","±8,059",Puerto Rico,Below poverty level,Margin of Error

In [182]:
first_column = total_df.pop('Region')
total_df.insert(0, 'Region', first_column)
second_column = total_df.pop('Value')
total_df.insert(1, 'Value', second_column)
total_df

,Region,Value,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,...,35 to 44 years,45 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work,Notation
1,Alabama,Total,"4,781,688",NaN,"1,068,804","281,201","787,603","1,064,947","2,878,045","1,036,651",...,"95,438","121,299","156,241","129,121","123,166","7,115","356,830","148,246","372,164",Estimate
2,Alabama,Total,"±3,063",NaN,"±4,435","±4,432","±5,534","±4,369","±4,711","±6,288",...,"±6,262","±5,759","±6,410","±5,094","±4,920",±165,"±12,708","±7,268","±9,605",Margin of Error
7,Alaska,Total,"713,725",NaN,"175,678","49,694","125,984","174,865","449,112","176,154",...,"22,039","22,523","28,294","19,194","9,661","8,112","73,089","38,382","42,828",Estimate
8,Alaska,Total,"±1,271",NaN,"±1,301","±1,284","±1,420","±1,524","±1,949","±2,501",...,"±2,858","±2,146","±2,573","±2,112","±1,309",±651,"±3,981","±3,043","±3,862",Margin of Error
13,Arizona,Total,"7,116,266",NaN,"1,612,619","420,121","1,192,498","1,605,149","4,208,713","1,615,034",...,"174,674","166,040","221,764","204,929","178,375","7,725","629,271","302,219","492,053",Estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,Wisconsin,Total,"±3,164",NaN,"±4,125","±2,664","±3,938","±4,187","±3,049","±4,058",...,"±5,387","±6,568","±5,732","±5,161","±4,954",±167,"±11,599","±8,431","±10,329",Margin of Error
301,Wyoming,Total,"563,528",NaN,"130,431","32,265","98,166","129,628","336,915","124,792",...,"12,902","11,566","18,083","16,239","12,416","7,106","49,188","28,509","35,408",Estimate
302,Wyoming,Total,"±1,747",NaN,"±2,482","±1,445","±2,599","±2,498","±2,004","±2,318",...,"±2,185","±1,870","±1,831","±1,655","±1,610",±514,"±3,661","±3,323","±2,821",Margin of Error
307,Puerto Rico,Total,"3,167,190",NaN,"569,767","114,745","455,022","568,109","1,923,126","694,720",...,"64,699","85,227","108,002","109,762","101,802","7,848","142,214","75,425","336,454",Estimate
308,Puerto Rico,Total,±936,NaN,±954,"±1,476","±1,623","±1,214",±596,"±3,493",...,"±4,404","±4,748","±5,494","±4,612","±4,369",±134,"±7,053","±5,146","±9,058",Margin of Error

In [183]:
first_column = percent_below_poverty_level_df.pop('Region')
percent_below_poverty_level_df.insert(0, 'Region', first_column)
second_column = percent_below_poverty_level_df.pop('Value')
percent_below_poverty_level_df.insert(1, 'Value', second_column)
percent_below_poverty_level_df

,Region,Value,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,...,35 to 44 years,45 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work,Notation
5,Alabama,Percent below poverty level,15.50%,NaN,21.40%,24.10%,20.40%,21.10%,14.70%,18.20%,...,26.00%,31.90%,31.00%,23.40%,20.90%,(X),4.60%,43.30%,47.50%,Estimate
6,Alabama,Percent below poverty level,±0.5,NaN,±1.1,±1.8,±1.1,±1.1,±0.5,±0.9,...,±2.6,±2.3,±2.3,±1.9,±1.8,(X),±0.8,±2.4,±1.5,Margin of Error
11,Alaska,Percent below poverty level,10.10%,NaN,13.00%,17.20%,11.40%,12.60%,9.50%,11.70%,...,20.40%,11.90%,20.90%,10.80%,13.80%,(X),1.70%,28.70%,40.10%,Estimate
12,Alaska,Percent below poverty level,±1.1,NaN,±2.2,±3.4,±2.1,±2.2,±1.0,±1.9,...,±4.7,±3.5,±3.7,±3.1,±6.4,(X),±0.7,±4.8,±4.7,Margin of Error
17,Arizona,Percent below poverty level,13.50%,NaN,19.10%,21.10%,18.40%,18.80%,12.70%,15.50%,...,18.70%,21.10%,26.10%,16.70%,20.30%,(X),3.60%,34.80%,41.60%,Estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,Wisconsin,Percent below poverty level,±0.3,NaN,±0.8,±1.2,±0.8,±0.8,±0.3,±0.7,...,±1.7,±1.5,±1.3,±1.3,±1.1,(X),±0.4,±1.5,±1.1,Margin of Error
305,Wyoming,Percent below poverty level,10.10%,NaN,11.60%,14.50%,10.60%,11.00%,10.30%,15.60%,...,16.60%,20.70%,25.00%,16.60%,15.00%,(X),5.00%,35.70%,36.50%,Estimate
306,Wyoming,Percent below poverty level,±1.0,NaN,±2.1,±4.1,±2.2,±2.0,±1.2,±2.2,...,±6.0,±7.1,±5.8,±4.6,±5.0,(X),±1.7,±5.4,±5.0,Margin of Error
311,Puerto Rico,Percent below poverty level,43.50%,NaN,56.80%,63.80%,55.00%,56.60%,40.80%,45.60%,...,42.50%,50.80%,56.00%,57.10%,63.40%,(X),10.60%,66.30%,73.00%,Estimate
312,Puerto Rico,Percent below poverty level,±0.8,NaN,±1.7,±3.4,±1.7,±1.7,±0.8,±1.4,...,±3.5,±2.8,±2.3,±2.5,±2.3,(X),±1.5,±2.4,±1.3,Margin of Error

In [184]:
first_column = below_poverty_level_df.pop('Region')
below_poverty_level_df.insert(0, 'Region', first_column)
second_column = below_poverty_level_df.pop('Value')
below_poverty_level_df.insert(1, 'Value', second_column)
below_poverty_level_df

,Region,Value,Population for whom poverty status is determined,AGE,Under 18 years,Under 5 years,5 to 17 years,Related children of householder under 18 years,18 to 64 years,18 to 34 years,...,35 to 44 years,45 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals (dollars),"Worked full-time, year-round in the past 12 months","Worked less than full-time, year-round in the past 12 months",Did not work,Notation
3,Alabama,Below poverty level,"739,108",NaN,"228,412","67,723","160,689","224,890","422,875","188,565",...,"24,830","38,732","48,386","30,211","25,745",(X),"16,318","64,156","176,921",Estimate
4,Alabama,Below poverty level,"±24,870",NaN,"±11,511","±5,010","±8,920","±11,443","±14,775","±9,417",...,"±3,017","±3,175","±4,037","±2,884","±2,567",(X),"±2,904","±5,213","±7,894",Margin of Error
9,Alaska,Below poverty level,"71,938",NaN,"22,921","8,547","14,374","22,108","42,857","20,692",...,"4,504","2,678","5,900","2,080","1,335",(X),"1,275","11,009","17,181",Estimate
10,Alaska,Below poverty level,"±7,880",NaN,"±3,893","±1,695","±2,678","±3,795","±4,526","±3,370",...,"±1,212",±813,"±1,103",±641,±660,(X),±523,"±2,053","±2,964",Margin of Error
15,Arizona,Below poverty level,"958,442",NaN,"308,459","88,674","219,785","301,568","533,294","250,959",...,"32,736","34,974","57,790","34,131","36,206",(X),"22,831","105,113","204,539",Estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Wisconsin,Below poverty level,"±18,294",NaN,"±9,853","±4,022","±7,642","±9,880","±10,662","±8,153",...,"±2,572","±2,813","±2,945","±2,455","±1,759",(X),"±2,518","±5,361","±6,093",Margin of Error
303,Wyoming,Below poverty level,"56,945",NaN,"15,088","4,670","10,418","14,285","34,766","19,422",...,"2,143","2,396","4,516","2,699","1,866",(X),"2,474","10,170","12,937",Estimate
304,Wyoming,Below poverty level,"±5,626",NaN,"±2,734","±1,381","±2,231","±2,668","±4,111","±2,769",...,±883,±879,"±1,140",±790,±654,(X),±817,"±1,925","±2,275",Margin of Error
309,Puerto Rico,Below poverty level,"1,376,809",NaN,"323,371","73,159","250,212","321,767","784,074","316,680",...,"27,496","43,275","60,488","62,672","64,588",(X),"15,073","50,027","245,612",Estimate
310,Puerto Rico,Below poverty level,"±24,017",NaN,"±9,736","±3,902","±7,627","±9,738","±16,171","±9,416",...,"±3,011","±3,273","±3,919","±3,377","±3,902",(X),"±2,582","±3,682","±8,059",Margin of Error

In [185]:
below_poverty_level_df.to_csv(r'../cleaned_python_csv/below_poverty_level.csv')
percent_below_poverty_level_df.to_csv(r'../cleaned_python_csv/percent_below_poverty_level.csv')
total_df.to_csv(r'../cleaned_python_csv/total_df.csv')