In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### read in poverty csv

In [20]:
poverty_rates_19 = pd.read_csv('../Data/est19us.csv')
poverty_rates_16 = pd.read_csv('../Data/est16us.csv')
poverty_rates_13 = pd.read_csv('../Data/est13us.csv')

In [21]:
poverty_rates_19.head()

,State FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,"Poverty Estimate, Age 0-4",90% CI Lower Bound.7,90% CI Upper Bound.7,"Poverty Percent, Age 0-4",90% CI Lower Bound.8,90% CI Upper Bound.8
0,0,US,United States,"39,490,096","39,248,096","39,732,096",12.3,12.2,12.4,"12,000,470",...,16.0,"65,712","65,594","65,830","3,457,689","3,405,854","3,509,524",18.2,17.9,18.5
1,1,AL,Alabama,"747,478","730,491","764,465",15.6,15.2,16.0,"233,890",...,21.6,"51,771","51,179","52,363","69,236","65,296","73,176",24.2,22.8,25.6
2,2,AK,Alaska,"73,033","68,640","77,426",10.2,9.6,10.8,"23,110",...,13.1,"77,203","74,942","79,464","7,350","6,443","8,257",14.9,13.1,16.7
3,4,AZ,Arizona,"963,007","940,142","985,872",13.5,13.2,13.8,"309,844",...,19.0,"62,027","61,584","62,470","88,440","83,016","93,864",21.1,19.8,22.4
4,5,AR,Arkansas,"468,575","456,478","480,672",16.0,15.6,16.4,"148,843",...,20.9,"49,020","48,177","49,863","45,995","43,010","48,980",25.2,23.6,26.8

In [51]:
poverty_rates_19.Name.value_counts()

North Carolina          1
Utah                    1
Minnesota               1
Vermont                 1
Montana                 1
Wyoming                 1
Colorado                1
Mississippi             1
Idaho                   1
Pennsylvania            1
Maine                   1
Georgia                 1
Alaska                  1
Kentucky                1
Illinois                1
Indiana                 1
Rhode Island            1
Michigan                1
West Virginia           1
Wisconsin               1
New Mexico              1
Connecticut             1
District of Columbia    1
South Carolina          1
North Dakota            1
Massachusetts           1
United States           1
Oregon                  1
Missouri                1
Maryland                1
Virginia                1
New Jersey              1
Nebraska                1
Ohio                    1
Arizona                 1
Tennessee               1
Oklahoma                1
South Dakota            1
Alabama                 1
Delaware                1
Louisiana               1
Texas                   1
Washington              1
Florida                 1
California              1
New Hampshire           1
Arkansas                1
New York                1
Kansas                  1
Iowa                    1
Hawaii                  1
Nevada                  1
Name: Name, dtype: int64

In [18]:
poverty_rates_16.head()

,State FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,"Poverty Estimate, Age 0-4",90% CI Lower Bound.7,90% CI Upper Bound.7,"Poverty Percent, Age 0-4",90% CI Lower Bound.8,90% CI Upper Bound.8
0,0,US,United States,"44,268,996","44,022,086","44,515,906",14.0,13.9,14.1,"14,115,713",...,18.5,"57,617","57,502","57,732","4,156,949","4,108,397","4,205,501",21.3,21.1,21.5
1,1,AL,Alabama,"814,197","796,927","831,467",17.2,16.8,17.6,"267,674",...,24.6,"46,309","45,650","46,968","78,675","74,257","83,093",27.4,25.9,28.9
2,2,AK,Alaska,"71,916","67,813","76,019",9.9,9.3,10.5,"24,897",...,13.9,"76,144","74,375","77,913","7,919","6,898","8,940",15.1,13.2,17.0
3,4,AZ,Arizona,"1,107,153","1,086,482","1,127,824",16.4,16.1,16.7,"377,445",...,23.5,"53,481","52,863","54,099","106,817","101,686","111,948",24.9,23.7,26.1
4,5,AR,Arkansas,"497,388","485,180","509,596",17.2,16.8,17.6,"165,724",...,23.5,"44,406","43,530","45,282","50,341","47,095","53,587",27.3,25.5,29.1

In [19]:
poverty_rates_13.head()

,State FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,"Poverty Estimate, Age 0-4",90% CI Lower Bound.7,90% CI Upper Bound.7,"Poverty Percent, Age 0-4",90% CI Lower Bound.8,90% CI Upper Bound.8
0,0,US,United States,"48,810,868","48,554,692","49,067,044",15.8,15.7,15.9,"16,086,960",...,21.0,"52,250","52,185","52,315","4,811,689","4,759,374","4,864,004",24.8,24.5,25.1
1,1,AL,Alabama,"889,091","873,141","905,041",18.9,18.6,19.2,"300,649",...,26.6,"42,882","42,260","43,504","92,126","87,734","96,518",31.6,30.1,33.1
2,2,AK,Alaska,"72,643","69,056","76,230",10.1,9.6,10.6,"25,030",...,13.8,"70,058","68,425","71,691","8,148","7,208","9,088",14.9,13.2,16.6
3,4,AZ,Arizona,"1,206,948","1,184,107","1,229,789",18.6,18.2,19.0,"422,435",...,26.0,"48,504","47,932","49,076","122,889","117,153","128,625",29.1,27.7,30.5
4,5,AR,Arkansas,"557,399","545,273","569,525",19.4,19.0,19.8,"197,129",...,27.6,"40,605","39,921","41,289","60,285","56,772","63,798",32.1,30.2,34.0

### clean up data: drop unnecessary columns

In [27]:
poverty_rates_13.columns

Index(['State FIPS Code', 'Postal Code', 'Name', 'Poverty Estimate, All Ages',
       '90% CI Lower Bound', '90% CI Upper Bound', 'Poverty Percent, All Ages',
       '90% CI Lower Bound.1', '90% CI Upper Bound.1',
       'Poverty Estimate, Age 0-17', '90% CI Lower Bound.2',
       '90% CI Upper Bound.2', 'Poverty Percent, Age 0-17',
       '90% CI Lower Bound.3', '90% CI Upper Bound.3',
       'Poverty Estimate, Age 5-17 in Families', '90% CI Lower Bound.4',
       '90% CI Upper Bound.4', 'Poverty Percent, Age 5-17 in Families',
       '90% CI Lower Bound.5', '90% CI Upper Bound.5',
       'Median Household Income', '90% CI Lower Bound.6',
       '90% CI Upper Bound.6', 'Poverty Estimate, Age 0-4',
       '90% CI Lower Bound.7', '90% CI Upper Bound.7',
       'Poverty Percent, Age 0-4', '90% CI Lower Bound.8',
       '90% CI Upper Bound.8'],
      dtype='object')

In [37]:
clean_pr_19 = poverty_rates_19.drop(columns =['State FIPS Code','Poverty Estimate, Age 0-17', '90% CI Lower Bound.2',
       '90% CI Upper Bound.2', 'Poverty Percent, Age 0-17',
       '90% CI Lower Bound.3', '90% CI Upper Bound.3',
       'Poverty Estimate, Age 5-17 in Families', '90% CI Lower Bound.4',
       '90% CI Upper Bound.4', 'Poverty Percent, Age 5-17 in Families',
       '90% CI Lower Bound.5', '90% CI Upper Bound.5','Poverty Estimate, Age 0-4',
       '90% CI Lower Bound.7', '90% CI Upper Bound.7',
       'Poverty Percent, Age 0-4', '90% CI Lower Bound.8',
       '90% CI Upper Bound.8'])
clean_pr_19.head()

,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6
0,US,United States,"39,490,096","39,248,096","39,732,096",12.3,12.2,12.4,"65,712","65,594","65,830"
1,AL,Alabama,"747,478","730,491","764,465",15.6,15.2,16.0,"51,771","51,179","52,363"
2,AK,Alaska,"73,033","68,640","77,426",10.2,9.6,10.8,"77,203","74,942","79,464"
3,AZ,Arizona,"963,007","940,142","985,872",13.5,13.2,13.8,"62,027","61,584","62,470"
4,AR,Arkansas,"468,575","456,478","480,672",16.0,15.6,16.4,"49,020","48,177","49,863"

In [39]:
clean_pr_16 = poverty_rates_16.drop(columns =['State FIPS Code','Poverty Estimate, Age 0-17', '90% CI Lower Bound.2',
       '90% CI Upper Bound.2', 'Poverty Percent, Age 0-17',
       '90% CI Lower Bound.3', '90% CI Upper Bound.3',
       'Poverty Estimate, Age 5-17 in Families', '90% CI Lower Bound.4',
       '90% CI Upper Bound.4', 'Poverty Percent, Age 5-17 in Families',
       '90% CI Lower Bound.5', '90% CI Upper Bound.5','Poverty Estimate, Age 0-4',
       '90% CI Lower Bound.7', '90% CI Upper Bound.7',
       'Poverty Percent, Age 0-4', '90% CI Lower Bound.8',
       '90% CI Upper Bound.8'])
clean_pr_16.head()

,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6
0,US,United States,"44,268,996","44,022,086","44,515,906",14.0,13.9,14.1,"57,617","57,502","57,732"
1,AL,Alabama,"814,197","796,927","831,467",17.2,16.8,17.6,"46,309","45,650","46,968"
2,AK,Alaska,"71,916","67,813","76,019",9.9,9.3,10.5,"76,144","74,375","77,913"
3,AZ,Arizona,"1,107,153","1,086,482","1,127,824",16.4,16.1,16.7,"53,481","52,863","54,099"
4,AR,Arkansas,"497,388","485,180","509,596",17.2,16.8,17.6,"44,406","43,530","45,282"

In [40]:
clean_pr_13 = poverty_rates_13.drop(columns =['State FIPS Code','Poverty Estimate, Age 0-17', '90% CI Lower Bound.2',
       '90% CI Upper Bound.2', 'Poverty Percent, Age 0-17',
       '90% CI Lower Bound.3', '90% CI Upper Bound.3',
       'Poverty Estimate, Age 5-17 in Families', '90% CI Lower Bound.4',
       '90% CI Upper Bound.4', 'Poverty Percent, Age 5-17 in Families',
       '90% CI Lower Bound.5', '90% CI Upper Bound.5','Poverty Estimate, Age 0-4',
       '90% CI Lower Bound.7', '90% CI Upper Bound.7',
       'Poverty Percent, Age 0-4', '90% CI Lower Bound.8',
       '90% CI Upper Bound.8'])
clean_pr_13.head()

,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6
0,US,United States,"48,810,868","48,554,692","49,067,044",15.8,15.7,15.9,"52,250","52,185","52,315"
1,AL,Alabama,"889,091","873,141","905,041",18.9,18.6,19.2,"42,882","42,260","43,504"
2,AK,Alaska,"72,643","69,056","76,230",10.1,9.6,10.6,"70,058","68,425","71,691"
3,AZ,Arizona,"1,206,948","1,184,107","1,229,789",18.6,18.2,19.0,"48,504","47,932","49,076"
4,AR,Arkansas,"557,399","545,273","569,525",19.4,19.0,19.8,"40,605","39,921","41,289"

In [50]:
clean_pr_19.to_csv(r'../cleaned_python_csv/clean_pr_19.csv')
clean_pr_16.to_csv(r'../cleaned_python_csv/clean_pr_16.csv')
clean_pr_13.to_csv(r'../cleaned_python_csv/clean_pr_13.csv')